cmake_build
build
configure
.idea
duckdb_unittest_tempdir
/test/bin
duckdb_capi/*.c
example/ex_rand.csv
example/ex_random.csv
/example/ex_rand.csv
/example/ex_random.csv
/extension-ci-tools/.github
/extension-ci-tools/docker/*
/extension-ci-tools/makefiles/*
/extension-ci-tools/scripts/*
/extension-ci-tools/vcpkg_porgs/*
/extension-ci-tools/docker
/extension-ci-tools/makefiles
/extension-ci-tools/scripts
/extension-ci-tools/vcpkg_porgs
venv
